<a href="https://colab.research.google.com/github/meetvaghasiya23/Assignment_Solution/blob/main/Assignment_Submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import csv

# URL of the random data API
url = "https://random-data-api.com/api/v2/users"

# Open a CSV file for writing
with open("users.csv", "w", newline="") as file:
    
    # Create a CSV writer object
    writer = csv.writer(file)

    # Write the header row
    writer.writerow(
        ["id", "first_name", "last_name", "username", "email", "avatar", "gender", "date_of_birth", "address"])

    # Make 10 GET requests to the API
    for i in range(10):
        
        # Send a GET request to the API
        response = requests.get(url)
        
        # Extract the data from the response
        data = response.json()
    
    
        # Write the data to the CSV file
        writer.writerow(
            [data["id"], data["first_name"], data["last_name"], data["username"], data["email"], data['avatar'],
             data["gender"], data["date_of_birth"], data["address"]])
        
        print(data)

{'id': 4630, 'uid': '7a57c31d-62e9-484a-b910-0f4fff7a24fd', 'password': '1xnC9cmhO5', 'first_name': 'Carmela', 'last_name': 'Gerlach', 'username': 'carmela.gerlach', 'email': 'carmela.gerlach@email.com', 'avatar': 'https://robohash.org/nequequoddeleniti.png?size=300x300&set=set1', 'gender': 'Genderqueer', 'phone_number': '+290 657-578-8115 x95209', 'social_insurance_number': '138635859', 'date_of_birth': '1988-10-20', 'employment': {'title': 'Advertising Technician', 'key_skill': 'Problem solving'}, 'address': {'city': 'Lake Ozzie', 'street_name': 'Shelton Prairie', 'street_address': '48746 Rolf Trafficway', 'zip_code': '40747', 'state': 'California', 'country': 'United States', 'coordinates': {'lat': -67.02584380550746, 'lng': -132.2272266184134}}, 'credit_card': {'cc_number': '5332-7413-7911-3431'}, 'subscription': {'plan': 'Business', 'status': 'Pending', 'payment_method': 'Google Pay', 'term': 'Payment in advance'}}
{'id': 6975, 'uid': '998a77d9-ddaa-4aab-8d3e-d6470f684e66', 'password': 'oHlGpBWQUD', 'first_name': 'Bula', 'last_name': 'Morar', 'username': 'bula.morar', 'email': 'bula.morar@email.com', 'avatar': 'https://robohash.org/aperiamcorporisamet.png?size=300x300&set=set1', 'gender': 'Non-binary', 'phone_number': '+255 1-648-214-5101 x3004', 'social_insurance_number': '559783543', 'date_of_birth': '1996-12-18', 'employment': {'title': 'Healthcare Engineer', 'key_skill': 'Fast learner'}, 'address': {'city': 'Lake Darcelberg', 'street_name': 'Irene Falls', 'street_address': '8295 Janean Plains', 'zip_code': '45743', 'state': 'Wisconsin', 'country': 'United States', 'coordinates': {'lat': -22.83588171548915, 'lng': 38.369016137388655}}, 'credit_card': {'cc_number': '4535504138224'}, 'subscription': {'plan': 'Basic', 'status': 'Idle', 'payment_method': 'Apple Pay', 'term': 'Payment in advance'}}
{'id': 2300, 'uid': 'baa9a328-41ca-4b92-b989-39639582933b', 'password': 'lZP6GvyLs3', 'first_name': 'Jerald', 'last_name': 'Rogahn', 'username': 'jerald.rogahn', 'email': 'jerald.rogahn@email.com', 'avatar': 'https://robohash.org/facilisvoluptasblanditiis.png?size=300x300&set=set1', 'gender': 'Bigender', 'phone_number': '+685 (880) 431-2410', 'social_insurance_number': '605561778', 'date_of_birth': '1995-07-02', 'employment': {'title': 'Regional Retail Engineer', 'key_skill': 'Problem solving'}, 'address': {'city': 'West Daria', 'street_name': 'Blick Stream', 'street_address': '8499 Williemae Court', 'zip_code': '19791', 'state': 'Minnesota', 'country': 'United States', 'coordinates': {'lat': 65.66172516178369, 'lng': -35.024796896806265}}, 'credit_card': {'cc_number': '5382-3386-3501-4526'}, 'subscription': {'plan': 'Free Trial', 'status': 'Active', 'payment_method': 'Credit card', 'term': 'Annual'}}
{'id': 3977, 'uid': '205e5cc4-978b-45b9-ba8b-6833b5050abd', 'password': 'e8YLWpSBnx', 'first_name': 'Hoyt', 'last_name': 'Howell', 'username': 'hoyt.howell', 'email': 'hoyt.howell@email.com', 'avatar': 'https://robohash.org/nobisnesciuntomnis.png?size=300x300&set=set1', 'gender': 'Polygender', 'phone_number': '+976 237-888-5521', 'social_insurance_number': '294919493', 'date_of_birth': '1980-09-15', 'employment': {'title': 'Dynamic Advertising Representative', 'key_skill': 'Fast learner'}, 'address': {'city': 'Port Sharleen', 'street_name': 'Sandy Bypass', 'street_address': '91957 Chong Walks', 'zip_code': '57886', 'state': 'New York', 'country': 'United States', 'coordinates': {'lat': 86.08413145809101, 'lng': -165.76001419271785}}, 'credit_card': {'cc_number': '4652153839208'}, 'subscription': {'plan': 'Professional', 'status': 'Active', 'payment_method': 'Bitcoins', 'term': 'Monthly'}}
{'id': 5260, 'uid': 'd7087fb2-7ceb-4940-8285-15796cc15303', 'password': 'YNFcnyGjm9', 'first_name': 'Freeman', 'last_name': 'Ritchie', 'username': 'freeman.ritchie', 'email': 'freeman.ritchie@email.com', 'avatar': 'https://robohash.org/exercitationemomnisad.png?size=300x300&set=set1', 'gender': 'Female', 'phone_number': '+596 891-664-0988', 'social_insurance_number': '335333621', 'date_of_birth': '1961-10-25', 'employment': {'title': 'Technology Specialist', 'key_skill': 'Self-motivated'}, 'address': {'city': 'Breitenbergville', 'street_name': 'Kihn Radial', 'street_address': '83916 Stark Mews', 'zip_code': '60632-7865', 'state': 'Maryland', 'country': 'United States', 'coordinates': {'lat': -36.74312100964341, 'lng': 149.4364318920247}}, 'credit_card': {'cc_number': '4225555543965'}, 'subscription': {'plan': 'Essential', 'status': 'Idle', 'payment_method': 'Apple Pay', 'term': 'Payment in advance'}}
{'id': 5409, 'uid': 'ee526c00-054b-480c-ad92-329459fdb42d', 'password': 'HYc3MS9l1T', 'first_name': 'Rosaria', 'last_name': 'Muller', 'username': 'rosaria.muller', 'email': 'rosaria.muller@email.com', 'avatar': 'https://robohash.org/similiqueidveritatis.png?size=300x300&set=set1', 'gender': 'Agender', 'phone_number': '+62 542.051.1821 x294', 'social_insurance_number': '352640957', 'date_of_birth': '1994-03-31', 'employment': {'title': 'Global Education Liaison', 'key_skill': 'Networking skills'}, 'address': {'city': 'East Bridgetview', 'street_name': 'Goodwin Harbor', 'street_address': '2048 Watsica Glens', 'zip_code': '21753', 'state': 'Missouri', 'country': 'United States', 'coordinates': {'lat': -0.2567549713343027, 'lng': 145.07405689124624}}, 'credit_card': {'cc_number': '5125-5112-1940-4501'}, 'subscription': {'plan': 'Free Trial', 'status': 'Idle', 'payment_method': 'Bitcoins', 'term': 'Full subscription'}}
{'id': 7005, 'uid': '5f127909-4b50-4a41-b56d-9783c48e8a8c', 'password': '3DPYj6SnxL', 'first_name': 'Luana', 'last_name': 'Von', 'username': 'luana.von', 'email': 'luana.von@email.com', 'avatar': 'https://robohash.org/quireprehenderitexplicabo.png?size=300x300&set=set1', 'gender': 'Non-binary', 'phone_number': '+501 404-859-7442 x4580', 'social_insurance_number': '431664077', 'date_of_birth': '1959-04-05', 'employment': {'title': 'Community-Services Director', 'key_skill': 'Leadership'}, 'address': {'city': 'Lake Rosemary', 'street_name': 'Hirthe Land', 'street_address': '28985 Sang Throughway', 'zip_code': '44045-7858', 'state': 'Georgia', 'country': 'United States', 'coordinates': {'lat': 26.517660329372674, 'lng': -115.56704433168731}}, 'credit_card': {'cc_number': '6771-8989-5028-9620'}, 'subscription': {'plan': 'Premium', 'status': 'Blocked', 'payment_method': 'Paypal', 'term': 'Payment in advance'}}
{'id': 6219, 'uid': '72b13898-f617-46cb-b9cf-299b198730e1', 'password': 'SbReu32tWJ', 'first_name': 'Mckinley', 'last_name': 'Bradtke', 'username': 'mckinley.bradtke', 'email': 'mckinley.bradtke@email.com', 'avatar': 'https://robohash.org/laboriosamminimasint.png?size=300x300&set=set1', 'gender': 'Agender', 'phone_number': '+268 1-269-154-1117 x92292', 'social_insurance_number': '772756151', 'date_of_birth': '1963-06-16', 'employment': {'title': 'Chief Orchestrator', 'key_skill': 'Leadership'}, 'address': {'city': 'New Westonborough', 'street_name': 'Ward Turnpike', 'street_address': '6952 Freda Estates', 'zip_code': '42152', 'state': 'West Virginia', 'country': 'United States', 'coordinates': {'lat': -60.112147375659795, 'lng': -138.22871853079567}}, 'credit_card': {'cc_number': '4572-0885-3360-2657'}, 'subscription': {'plan': 'Starter', 'status': 'Blocked', 'payment_method': 'Debit card', 'term': 'Annual'}}
{'id': 7060, 'uid': '283028be-e4d6-49f0-8905-ccdabaa8d133', 'password': 'jvmPiwKs0o', 'first_name': 'Malcolm', 'last_name': 'Parker', 'username': 'malcolm.parker', 'email': 'malcolm.parker@email.com', 'avatar': 'https://robohash.org/natusataperiam.png?size=300x300&set=set1', 'gender': 'Genderqueer', 'phone_number': '+973 565.483.4219', 'social_insurance_number': '238141113', 'date_of_birth': '1985-01-30', 'employment': {'title': 'IT Agent', 'key_skill': 'Teamwork'}, 'address': {'city': 'Bartellville', 'street_name': 'Julian Green', 'street_address': '8946 Hermiston Viaduct', 'zip_code': '62483', 'state': 'Idaho', 'country': 'United States', 'coordinates': {'lat': -56.927670795487174, 'lng': -113.09357847637202}}, 'credit_card': {'cc_number': '4283911189320'}, 'subscription': {'plan': 'Premium', 'status': 'Blocked', 'payment_method': 'Cheque', 'term': 'Full subscription'}}
{'id': 339, 'uid': '9d3cff69-5894-46a3-b668-768c01157788', 'password': '3FNGXjqwpz', 'first_name': 'Ervin', 'last_name': 'Rau', 'username': 'ervin.rau', 'email': 'ervin.rau@email.com', 'avatar': 'https://robohash.org/ametfugiatqui.png?size=300x300&set=set1', 'gender': 'Male', 'phone_number': '+976 1-818-051-7024 x894', 'social_insurance_number': '269958534', 'date_of_birth': '2004-01-07', 'employment': {'title': 'Future Administrator', 'key_skill': 'Communication'}, 'address': {'city': 'Lake Alvertamouth', 'street_name': 'Vandervort Club', 'street_address': '72343 Skiles Cape', 'zip_code': '29059', 'state': 'Vermont', 'country': 'United States', 'coordinates': {'lat': 3.829513803854752, 'lng': 76.57371003386078}}, 'credit_card': {'cc_number': '4744-6012-4526-1761'}, 'subscription': {'plan': 'Bronze', 'status': 'Pending', 'payment_method': 'Bitcoins', 'term': 'Monthly'}}

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('users.csv')

In [ ]:
df

,id,first_name,last_name,username,email,avatar,gender,date_of_birth,address
0,4630,Carmela,Gerlach,carmela.gerlach,carmela.gerlach@email.com,https://robohash.org/nequequoddeleniti.png?siz...,Genderqueer,1988-10-20,"{'city': 'Lake Ozzie', 'street_name': 'Shelton..."
1,6975,Bula,Morar,bula.morar,bula.morar@email.com,https://robohash.org/aperiamcorporisamet.png?s...,Non-binary,1996-12-18,"{'city': 'Lake Darcelberg', 'street_name': 'Ir..."
2,2300,Jerald,Rogahn,jerald.rogahn,jerald.rogahn@email.com,https://robohash.org/facilisvoluptasblanditiis...,Bigender,1995-07-02,"{'city': 'West Daria', 'street_name': 'Blick S..."
3,3977,Hoyt,Howell,hoyt.howell,hoyt.howell@email.com,https://robohash.org/nobisnesciuntomnis.png?si...,Polygender,1980-09-15,"{'city': 'Port Sharleen', 'street_name': 'Sand..."
4,5260,Freeman,Ritchie,freeman.ritchie,freeman.ritchie@email.com,https://robohash.org/exercitationemomnisad.png...,Female,1961-10-25,"{'city': 'Breitenbergville', 'street_name': 'K..."
5,5409,Rosaria,Muller,rosaria.muller,rosaria.muller@email.com,https://robohash.org/similiqueidveritatis.png?...,Agender,1994-03-31,"{'city': 'East Bridgetview', 'street_name': 'G..."
6,7005,Luana,Von,luana.von,luana.von@email.com,https://robohash.org/quireprehenderitexplicabo...,Non-binary,1959-04-05,"{'city': 'Lake Rosemary', 'street_name': 'Hirt..."
7,6219,Mckinley,Bradtke,mckinley.bradtke,mckinley.bradtke@email.com,https://robohash.org/laboriosamminimasint.png?...,Agender,1963-06-16,"{'city': 'New Westonborough', 'street_name': '..."
8,7060,Malcolm,Parker,malcolm.parker,malcolm.parker@email.com,https://robohash.org/natusataperiam.png?size=3...,Genderqueer,1985-01-30,"{'city': 'Bartellville', 'street_name': 'Julia..."
9,339,Ervin,Rau,ervin.rau,ervin.rau@email.com,https://robohash.org/ametfugiatqui.png?size=30...,Male,2004-01-07,"{'city': 'Lake Alvertamouth', 'street_name': '..."

In [ ]:
users_sorted = df.sort_values(by=['first_name'])

In [ ]:
users_sorted

,id,first_name,last_name,username,email,avatar,gender,date_of_birth,address
1,6975,Bula,Morar,bula.morar,bula.morar@email.com,https://robohash.org/aperiamcorporisamet.png?s...,Non-binary,1996-12-18,"{'city': 'Lake Darcelberg', 'street_name': 'Ir..."
0,4630,Carmela,Gerlach,carmela.gerlach,carmela.gerlach@email.com,https://robohash.org/nequequoddeleniti.png?siz...,Genderqueer,1988-10-20,"{'city': 'Lake Ozzie', 'street_name': 'Shelton..."
9,339,Ervin,Rau,ervin.rau,ervin.rau@email.com,https://robohash.org/ametfugiatqui.png?size=30...,Male,2004-01-07,"{'city': 'Lake Alvertamouth', 'street_name': '..."
4,5260,Freeman,Ritchie,freeman.ritchie,freeman.ritchie@email.com,https://robohash.org/exercitationemomnisad.png...,Female,1961-10-25,"{'city': 'Breitenbergville', 'street_name': 'K..."
3,3977,Hoyt,Howell,hoyt.howell,hoyt.howell@email.com,https://robohash.org/nobisnesciuntomnis.png?si...,Polygender,1980-09-15,"{'city': 'Port Sharleen', 'street_name': 'Sand..."
2,2300,Jerald,Rogahn,jerald.rogahn,jerald.rogahn@email.com,https://robohash.org/facilisvoluptasblanditiis...,Bigender,1995-07-02,"{'city': 'West Daria', 'street_name': 'Blick S..."
6,7005,Luana,Von,luana.von,luana.von@email.com,https://robohash.org/quireprehenderitexplicabo...,Non-binary,1959-04-05,"{'city': 'Lake Rosemary', 'street_name': 'Hirt..."
8,7060,Malcolm,Parker,malcolm.parker,malcolm.parker@email.com,https://robohash.org/natusataperiam.png?size=3...,Genderqueer,1985-01-30,"{'city': 'Bartellville', 'street_name': 'Julia..."
7,6219,Mckinley,Bradtke,mckinley.bradtke,mckinley.bradtke@email.com,https://robohash.org/laboriosamminimasint.png?...,Agender,1963-06-16,"{'city': 'New Westonborough', 'street_name': '..."
5,5409,Rosaria,Muller,rosaria.muller,rosaria.muller@email.com,https://robohash.org/similiqueidveritatis.png?...,Agender,1994-03-31,"{'city': 'East Bridgetview', 'street_name': 'G..."

In [ ]:
users_sorted.to_csv('users-sorted')

In [ ]:
df.query('username=="ervin.rau"')

,id,first_name,last_name,username,email,avatar,gender,date_of_birth,address
9,339,Ervin,Rau,ervin.rau,ervin.rau@email.com,https://robohash.org/ametfugiatqui.png?size=30...,Male,2004-01-07,"{'city': 'Lake Alvertamouth', 'street_name': '..."

In [ ]:
df.query('id==339')

,id,first_name,last_name,username,email,avatar,gender,date_of_birth,address
9,339,Ervin,Rau,ervin.rau,ervin.rau@email.com,https://robohash.org/ametfugiatqui.png?size=30...,Male,2004-01-07,"{'city': 'Lake Alvertamouth', 'street_name': '..."